@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Anasayfa{
    background-image: url("bg.jpeg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: white;
}
.anasayfa-baslık{
    font-size: 3rem;
}
.anasayfa-h3{
    max-width: 450px;
    margin-bottom: 2rem;
}
.anasayfa-div{
    position: relative;
    height: 100%;
    align-items: center;
    padding: 200px 20px 20px 200px;
}

.hakkımda{
   
    color: white;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
    padding: 200px 20px 20px 200px;
}
.hakkımda-baslık {
    font-size: 3.25rem;
    margin-bottom: 0.75rem;
    align-items: center;
    padding-left: 100px;
    color: rgba(193, 15, 15, 0.728);
}
.özgecmis{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}
.Eğitim div{
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;

}
.Eğitim div:last-child{
    margin-bottom: 0;

}
.Eğitim h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: white;
}
.Eğitim p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: white;
}
.Eğitim span{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 0.8rem;
    color: white;
    
}
p{
    justify-content: space-between;
    color:white;
    padding-left: 100px;
    padding-right: 200px;
    font-size: 1.25rem;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("bg.jpeg");
    background-size: cover;
}

a {
    color: white;
}

.baslık{
    width: 80%;
    margin: auto;
}

header{
    height: 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.icerik{
    color: white;
    height: calc(100vh - 100px);
    padding-top: 150px;
}

.icerik h1{
    font-size: 60px;
    text-align: center;
}
.icerik p{
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
    
}

.icerik .links{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    column-gap: 16px;
}
.icerik .links a {
    background-color: white;
    padding: 20px;
    width: 280px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 56px;
    transition: all .25s ease-in;
}

.icerik .links a:hover{
    background-color: #0ba2c0;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
    border-radius: 56px;
}

nav ul a{
    color: white;
    text-decoration: none;
    transition: color .25s ease;

}
nav ul a:hover {
    color: #0ba2c0;
    
}
nav .menu{
    display: flex;
    align-items: center;
    column-gap: 48px;

}
.qualificationcontainer {
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
    padding-left: 400px;
    padding-right: 200px;
  }
  .experince{
      justify-self: flex-end;

  }
  .qualificationtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color:red;
  }
  
  .timelineitem {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;
    color:red;
  }
  
  
  
  .timelineitem::before {
    content: "";
    width: 1px;
    position: absolute;
    left: 0.48rem;
    top: 0;
    height: 100%;
    background-color: red;
  }
  .circledot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid red;
    border-radius: 50%;
    background-color:red;
    transition: 0.3s;
  }
  
  .timelineitem:hover .circledot {
    background-color: red;
  }
  
  .timelinetitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.25;
    color: red;
  }
  
  .timelinetext {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color:red;
  }
  
  .timeline__date {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    font-size: 0.8rem;
    color: red;
  }
  

@media(max-width:576px){
    .baslık{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
    .icerik{
        padding-top: 50px;
    }
    .icerik h1{
        font-size: 36px;
    }
    .icerik p{
        font-size: 16px;
    }
    .icerik .links {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;

    }
    .icerik .links a{
        padding: 14px;
        width: 90%;
    }
}
